<!-- Nav Bar -->
<mat-toolbar  color="primary" class="nav"> 
  <div>
      <mat-icon>person</mat-icon>
      <span > Contacts</span> 
   </div>
   <div class="search">
      <span class="material-icons" >search</span>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search for a contact" #input> 
   </div>
</mat-toolbar>

<!--Checkbox delete Form  -->
<form [formGroup]="form">
  <ng-template  [ngIf]="idAmount!=0"
  >
    <div class="borrar">
      <button mat-button class="back" (click)="deselectAll()">
        <mat-icon >keyboard_backspace</mat-icon>
        BACK
      </button>
      <button  mat-button [matMenuTriggerFor]="menu" class="menu select">
        {{this.idAmount}} Selected
      </button>
      <mat-menu #menu="matMenu">
        <button  mat-menu-item (click)="checkedAll = true;selectAll()">Select All</button>
        <button  mat-menu-item (click)="checkedAll = false;deselectAll()">Deselet All</button>
      </mat-menu>
      <button mat-icon-button class="delete" (click)="submit()" [disabled]="!form.valid">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </ng-template>


  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Check Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <input class="check" type="checkbox" value="{{element.id}}" (change)="onCheckboxChange($event)" checked *ngIf="checkedAll; else check">
        <ng-template #check>
          <input class="check" type="checkbox"  value="{{element.id}}" (change)="onCheckboxChange($event)">
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <span class="material-icons" style="font-size: 30px;">
          account_circle
        </span>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastname}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email" class="email">
      <th mat-header-cell *matHeaderCellDef class="email"> Email </th>
      <td mat-cell *matCellDef="let element" class="email"> {{element.email}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone" class="phone">
      <th mat-header-cell *matHeaderCellDef class="phone"> Number Phone </th>
      <td mat-cell *matCellDef="let element" class="phone"> {{element.phone}} </td>
    </ng-container>

    <!-- Button Column -->
    <ng-container matColumnDef="fav">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button>
          <mat-icon (click)="addFav(element.id,element.fav)" *ngIf="element.fav==false; else star">
            star_border
          </mat-icon>
          <ng-template #star>
            <mat-icon class="fav" (click)="addFav(element.id,element.fav)">
              star
            </mat-icon> 
          </ng-template>
        </button>
        <button mat-icon-button mat-button [matMenuTriggerFor]="menu" class="menu" >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button  mat-menu-item (click)="onDelete(element.id)">Delete</button>
          <button  mat-menu-item (click)="onEdit(element)">Edit</button>
          
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</form>


<!--Icon Fab-->
<div class="example-button-container button-add">
  <button mat-fab color="primary" (click)="modal=true">
    <mat-icon>person_add</mat-icon>
  </button>
</div>

<!-- Modal Edit-->
<div *ngIf="modal == true">
  <app-formulario ></app-formulario>
</div>
